* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background: url('../img/main-background.jpg') repeat fixed 100%;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
    padding: 0 15px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* NAVIGATION ================================================ */
.logo-box {
    display: flex;
    align-items: center;
}

.logo-name {
    color: #ffd932;
    font-size: 30px;
}

.nav {
    margin: 0 auto;
    padding: 45px 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    font-size: 18px;
    font-weight: 500;
    margin-left: 60px;
}

.first-link {
    margin-left: 0px;
}

/* NAVIGATION END ================================================ */


/* GREET SECTION ================================================= */
.greet-section {
    max-width: 850px;
}

.greeting-title {
    color: #fff;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.greeting-title span {
    color: #ffd932;
}
.bio {
    color: #ffd932;
    margin-bottom: 50px;
    font-size: 30px;
    background-color: #00000050;
    border: 2px solid #b3a919;
    font-weight: 700;
    padding: 10px;
}

.btn {
    border-radius: 10px;
    background-color:transparent;
    width: 150px;
    padding: 2px;
    height: 50px;
    font-size: 23px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact-btn { 
    width: 180px;
    color: #000;
    border: 2px solid #000;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greet-nft{
    width: 400px;
    min-height: 400px;
}

.nft-box {
    position: relative;
    top: -11px;
    width: 250px;
    height: 505px;
    border-radius: 10px;
    border: 5px solid #b3a919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nft-box-plus {
    font-size: 200px;
    text-decoration: none;
    color:#ffd932ce;
    transition-duration: 0.2s;
}
.nft-box-plus:hover {
    color: #ffd932;
}

.nft-box-title {
    color: #b3a919
}

.banner {
    width: 100%;
    background-color:  #d9fd0d;
    min-height: 120px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0px;
    border-radius: 2px;
}

.banner-title {
    background-color: transparent;
    color: #000000;
    
    text-transform: uppercase;
    font-size: 55px;
    font-style: italic;
    font-weight: 700;
}

.banner-text {
    background-color: transparent;
    color: #000000;
    font-size: 20px;
    width: 500px;
}

.banner-text span {
    background-color: transparent;
    color:  #002fff;
    font-weight: 700;
}

hr {
    margin: 20px 0px;
    border: 10px solid #d9fd0d;
    padding: 2px;
    border-radius: 2px;
}

/* GREET SECTION END ================================================= */

/* SERVICES SECTION ================================================= */

.services {
    padding-top: 30px;
}

.services-wrap {
    display: flex;
    justify-content: space-between;
}
.services-title {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}

.service-column {
    text-align: center;
    max-width: 33%;
    padding: 15px;
    /* background-color: #00000050; */
    background-color: #3fff043b;
    border: 2px solid #b3a919;
}

.service-name {
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

.services-types {
    color: #fff;
    font-size: 33px;
    margin-bottom: 50px;
}

.service-description {
    color: #fff;
}
/* SERVICES SECTION END ============================================= */




/* ABOUT US SECTION ================================================== */

.our-services-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}

.first-box {
    color: #fff;
    display: flex;
    gap: 20px;
    min-height: 150px;
    margin-bottom: 20px;
    background-color: #00000050;
}

.second-box {
    color: #fff;
    display: flex;
    min-height: 300px;
    gap: 20px;
    background-color: #00000050;
}

.column-article-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mission-article {
    padding: 20px;
    min-width: 55%;
    max-width: 60%;
    border-radius: 2px;
    border: 2px solid #b3a919;
    background-color: #0000002c;
}

.vision-article {
    border: 2px solid #b3a919;
    background-color: #0000002c;
    padding: 20px;
    border-radius: 2px;
    max-width: 45%;
}

.act-box {
    padding: 20px;
    border: 2px solid #b3a919;
}

.long-box-article {
    padding: 20px;
    border: 2px solid #b3a919;
}

.long-box-article:first-child {
    margin-bottom: 20px;
}

/* ABOUT US SECTION END ============================================== */





/* FOOTER ============================================================== */

.footer {
    display: flex;
    align-items: center;
    min-height: 200px;
    background-color: #000000a1;
}

.footer-nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.footer-column-title {
    color: #fff;
}

.footer-column {
    list-style: none;
}

.footer-logo-name {
    color: #d9fd0d;
    font-size: 44px;
}

/* FOOTER END ========================================================= */




/* media  =================================*/

@media (max-width: 1200px) {
    .nft-box {
        display: none;
    }
}

@media (max-width: 1000px) {
    
    .greet-section {
        max-width: 100%;
    }
}

